<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingresa tus credenciales</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">
                <div [ngClass]="'mb-4'">
                    <label for="user">Usuario</label>
                    <input type="text" class="form-control" id="user" name="user" ngModel #user="ngModel" required>
                    <div class="invalid-feeback" [hidden]="user.valid || user.pristine">Este campo es requerido</div>
                </div>
                <div [ngClass]="'mb-4'">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" required>
                    <div class="invalid-feeback" [hidden]="password.valid || password.pristine">Este campo es requerido</div>
                </div>
                <div [ngClass]="'mb-4'">
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Ingresar</button> 
                    <button type="button" id="closeBtn" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
