
<div [ngClass]="'container'">
    <h3>FQA</h3>
    <hr>
    <div class="row">
        <div [ngClass]="'col'">
            <div [ngClass]="'mb-4'">
                <h4 [ngClass]="['question']">¿Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hico libero ad illo? </h4>
                <p [ngClass]="['answer']">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, officia vel neque corporis cum commodi aperiam dignissimos sit, at nemo accusamus quis provident cumque quam accusantium voluptatibus quisquam quasi obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quibusdam atque consequuntur quae neque pariatur ea accusamus temporibus placeat minus id dolorum ipsam? Est accusamus ducimus facere necessitatibus neque fugiat.</p>
            </div>
        </div>
        <div [ngClass]="'col'">
            <div [ngClass]="'mb-4'">
                <h4 [ngClass]="['question']">¿Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hico libero ad illo? </h4>
                <p [ngClass]="['answer']">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, officia vel neque corporis cum commodi aperiam dignissimos sit, at nemo accusamus quis provident cumque quam accusantium voluptatibus quisquam quasi obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quibusdam atque consequuntur quae neque pariatur ea accusamus temporibus placeat minus id dolorum ipsam? Est accusamus ducimus facere necessitatibus neque fugiat.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div [ngClass]="'col'">
            <div [ngClass]="'mb-4'">
                <h4 [ngClass]="['question']">¿Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hico libero ad illo? </h4>
                <p [ngClass]="['answer']">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, officia vel neque corporis cum commodi aperiam dignissimos sit, at nemo accusamus quis provident cumque quam accusantium voluptatibus quisquam quasi obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quibusdam atque consequuntur quae neque pariatur ea accusamus temporibus placeat minus id dolorum ipsam? Est accusamus ducimus facere necessitatibus neque fugiat.</p>
            </div>
        </div>
        <div [ngClass]="'col'">
            <div [ngClass]="'mb-4'">
                <h4 [ngClass]="['question']">¿Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hico libero ad illo? </h4>
                <p [ngClass]="['answer']">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, officia vel neque corporis cum commodi aperiam dignissimos sit, at nemo accusamus quis provident cumque quam accusantium voluptatibus quisquam quasi obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quibusdam atque consequuntur quae neque pariatur ea accusamus temporibus placeat minus id dolorum ipsam? Est accusamus ducimus facere necessitatibus neque fugiat.</p>
            </div>
        </div>
    </div>
</div>